* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: auto;
}
.navbar {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: #FFFBF5;
    gap: 5rem;
}

.logo {
    margin-left: 1rem;
}

.logo img {
    width: 10rem;
}

.centernav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 30rem;
}
.centernav a{
    text-decoration: none;
    color: black;
    ;

}

.addfriend {
    width: fit-content;

    margin-right: 1rem;
}

.addfriend a {
    text-decoration: none;
    color: black;
    padding: 0.8rem;
    border-radius: 2rem;
    background-color: #C3ACD0;
    transition: all ease-in-out 0.4s;
}

.addfriend a:hover {
    background-color: bisque;
}

/*-------------------------main---------------------*/
main {
    width: 100%;
    height: fit-content;
  }
/*------------------content-------------------*/
.content{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    gap: 5rem;
    position: relative;
}
.profile p {
    font-size: 1rem;
    font-family: "Familjen Grotesk", sans-serif;
    font-weight: 100;
    text-align: left;
    margin: 0.4rem;
}

.profile {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    border: 0 solid black;
    border-radius: 2rem;
    width: 25rem;
    height: fit-content;
    margin: 1rem 0 1rem 1rem;
    text-align: center;
    align-items: center;
}

.profilepic img{
    width: 5rem;
    margin: 4rem 4rem 2rem 4rem;
}

.logout {
    margin: 3rem;
}

.logout a {
    text-decoration: none;
    color: black;
    padding: 0.8rem;
    border-radius: 2rem;
    background-color: #C3ACD0;
    transition: all ease-in-out 0.4s;
}

.logout a:hover {
    background-color: bisque;
}

.social img{
    width: 2.5rem;
    flex-direction: row;
    margin: 3rem 1rem 1rem 1rem;
}

.connection{
    font-family: "Familjen Grotesk", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: white;
    border: 0 solid black;
    border-radius: 2rem;
    align-items: center;
    margin: 1rem 5rem 1rem auto;
}

.topmid{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 20rem;
    height: 5rem;
    background-color: white;
    border: 0 solid black;
    border-radius: 2rem;
    align-items: center;
}

.topmid img{
    width: 2rem;
    margin: 1rem;
}

.mid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
}

.friends{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #88837c;
    width: 15vw;
    height: fit-content;
    padding: 30px;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}

.f_profilepic img{
    width: 2rem;

}






footer
{
    margin-top: 2rem;
    padding: 2rem;
    background-color:#c3acd0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.foot_content{
    display: flex;
    justify-content: center;
    align-items: center;
}